@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.autherr-p {
    color: red;
    text-align: center;
}

.carousel-capt-color{
    background-color: #10848457;
    border-radius: 5px;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
