.product-color{
    border: 3px solid #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
h1,h3,h5,h6{
    margin-bottom: 20px;
}
.product-details{
    margin-top: 60px;
    margin-bottom: 80px;
}
.prod-style{
    text-align: center;
}
.img-style{
    border: 1px solid #bbb4b470;
}
.quantity-group{
    margin-top: 20px;
}
.quantity-group button{
    padding: 10px;
}
.quantity-group input{
    width: 50px;
    padding: 10px;
}