<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <img src="/assets/Default Images/ecomm-icon.png" width="40" height="40"  />
          <a class="navbar-brand txt-clr1" routerLink="/">E Comm</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div *ngIf="menuType!=='seller'" class="d-flex">
            <!-- <form class="d-flex"> -->
              <input class="form-control me-2" type="text" #searchInput placeholder="Search" aria-label="Search" (keyup)="searchProducts($event)" (blur)="hideSearch()" value="{{productName}}" >
              <button type="submit" class="btn btn-outline-success" (click)="submitSearch(searchInput.value)">Search</button>
              <ul class="suggested-result" *ngIf="searchResult">
                <li *ngFor="let item of searchResult;" style="text-decoration: none;">
                  <a style="cursor: pointer;" (click)="getProductName(item.productName);" (mousedown)="redirectToDetails(item.id)">{{item.productName}}</a>
                </li>
              </ul> 
            <!-- </form> -->
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngSwitch]="menuType">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngSwitchCase="'default'">
              <li class="nav-item">
                <a class=" nav-link txt-clr1 active" aria-current="page" routerLink="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link txt-clr1" routerLink="seller-auth">Seller</a>
              </li>
              
              <li class="nav-item">
                <a class="txt-clr1 nav-link" href="#">Cart({{cartItems}})</a>
              </li>
              <li class="nav-item dropdown">
                <a class="txt-clr1 nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item txt-clr1" href="#">Action</a></li>
                  <li><a class="dropdown-item txt-clr1" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item txt-clr1" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link txt-clr1 disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngSwitchCase="'user'">
              <li class="nav-item">
                <a class=" nav-link txt-clr1 active" aria-current="page" routerLink="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link txt-clr1" routerLink="user-auth">{{userName | titlecase}}</a>
              </li>
              
              <li class="nav-item">
                <a class="txt-clr1 nav-link" routerLink="cart-summary">Cart({{cartItems}})</a>
              </li>
              <li class="nav-item">
                <a class="txt-clr1 nav-link" routerLink="my-orders">My Orders</a>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngSwitchCase="'seller'">
              <li class="nav-item">
                <a class=" nav-link txt-clr1 active" aria-current="page" routerLink="seller-home">Product List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link txt-clr1" routerLink="seller-add-product">Add Product</a>
              </li>
              <!-- <li class="nav-item">
                <a class="txt-clr1 nav-link" href="#">Logout</a>
              </li> -->
              <li class="nav-item">
                <label class="txt-clr1 nav-link">Welcome {{sellerName | titlecase}}</label>
              </li>
            </ul>
          </div>
          <div class="d-flex" *ngIf="menuType==='default'">
            <button class="btn btn-outline-success" routerLink="user-auth">User Login/SignUp</button>
            <button class="btn btn-outline-success" type="submit">SignUp</button>
          </div>
          <div class="d-flex" *ngIf="menuType==='user'">
            <button class="btn btn-outline-success  btn-spacing1" type="submit" (click)="userLogout()">Logout</button>
          </div>
          <div class="d-flex" *ngIf="menuType==='seller'">
            <button class="btn btn-outline-success  btn-spacing1" type="submit" (click)="sellerLogout()">Logout</button>
          </div>
        </div>
      </nav>
</div>
