<div class="container" *ngFor="let item of searchResult;">
    <div class="row search-item">
        <div class="col-sm-3">
            <a routerLink="/details/{{item.id}}">
                <img src="{{item.productImageUrl}}" alt="search item" class="img-style" />
            </a>
        </div>
        <div class="col-sm-8 details">
            <h6><a routerLink="/details/{{item.id}}">{{item.productName}}</a></h6>
            <hr />
            <p><b>Price: ₹ {{item.productPrice}}</b></p>
            <p><span>Color: {{item.productColor}}</span></p>
            <p><span>Category: {{item.productCategory}}</span></p>
            <p>Description: {{item.productDesc}}</p>
        </div>
    </div>    
</div>
