@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}
.txt-clr1{
    color: #9f0b48;  
    text-align: center;
}
.cart-sum-header{
    text-align: center;
}
button.btn.btn-info.btn-block.btn-lg {
    float: right;
}