<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span class="text-center"><h1>My Orders</h1></span>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <span class="text-center"><h4>Orders</h4></span>
        </div>
        <div class="col-md-2">
            <span class="text-center"><h4>Order Id</h4></span>
        </div>
        <div class="col-md-2">
            <span class="text-center"><h4>Price</h4></span>
        </div>
        <div class="col-md-2">
            <span class="text-center"><h4>Order Status</h4></span>
        </div>
        <div class="col-md-2">
            <span class="text-center"><h4>Action</h4></span>
        </div>
    </div>
    <hr />
    <div class="row mt-2" *ngFor="let order of orderData;">
        <div class="col-md-2 text-center">
            <img src="../../assets/Default Images/myorders.png" alt="My Orders" weight="100" height="100" />
        </div>
        <div class="col-md-2 text-center">
            <span>#{{order.id}}</span>
        </div>
        <div class="col-md-2 text-center">
            <span>₹ {{order.totalPrice}}</span>
        </div>
        <div class="col-md-2 text-center">
            <span>{{order.paymentmode}}</span>
        </div>
        <div class="col-md-2">
            <button class="form-control btn btn-outline-primary" (click)="cancelOrder(order.id)">Cancel Order</button>
        </div>
    </div>
    
</div>
