<div class="container-fluid">
    <div class="card p-3 txt-clr1" style="text-align: center;">
        <h2>Add Product</h2>
    </div>
    <div class="card-body p-1">
        <div class="text-center" style="color: green;">
            <p>{{addProductMessage}}</p>
        </div>
        <form [formGroup]="frmSellerAddProduct">
            <div class="row p-3">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" class="form-control" formControlName="productName" placeholder="Enter Product Name" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Product Unit</label>
                        <input type="text" class="form-control" formControlName="productUnit" placeholder="Enter Product Unit" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Product Price / unit</label>
                        <input type="text" class="form-control" formControlName="productPrice" placeholder="Enter Product Price" />
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="form-group">
                        <label>Product Category</label>
                        <input type="text" class="form-control" formControlName="productCategory" placeholder="Enter Product Category" />
                    </div>
                </div>
                
            </div>  
            <div class="row p-3">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Product Sub Category</label>
                        <input type="text" class="form-control" formControlName="productSubCategory" placeholder="Enter Product Sub Category" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Product Color</label>
                        <input type="text" class="form-control" placeholder="Enter Product Color"  formControlName="productColor" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Product Description</label>
                        <textarea type="text" class="form-control" formControlName="productDesc" placeholder="Enter Product Description">
                        </textarea>
                    </div>
                </div>
                
                <!-- <div class="col-md-3">
                    <div class="form-group">
                        <label>Product Category</label>
                        <input type="text" class="form-control" formControlName="productCategory" placeholder="Enter Product Category" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Product Color</label>
                        <input type="text" class="form-control" placeholder="Enter Product Color"  formControlName="productColor" />
                    </div>
                </div> -->
            </div>
            <div class="row p-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Product Image URL (only .jpg, .jpeg, .png extensions allowed)</label>
                        <input type="text" class="form-control" formControlName="productImageUrl" placeholder="Enter Product Image Url" />
                    </div>
                </div>
            </div> 
            <div class="row p-3">
                <div class="col-md-9">&nbsp;</div>
                <div class="col-md-3">
                    <button class="btn btn-warning text-uppercase" (click)="cancelForm()" >Cancel</button>
                    <button class="btn btn-primary mx-2 text-uppercase" (click)="addProduct(frmSellerAddProduct.value)" >Add Product</button>
                </div> 
            </div>   
        </form>
    </div>
</div>
 